/* a.navbar-brand{
    max-height: 20px;
    width: 75px;
} */

@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

*{
    font-family: Montserrat,sans-serif;
}

div.navc{
    display: flex;
    max-width: 100%;
    max-height: 56px;
    height: 56px;
}

div.navc-main{
    display: flex;
    width: 100%;
    height: 100%;
    margin: auto;
    justify-content: space-between;
}

@media screen and ( min-width:1024px){
        div.navc-main{
            width:1024px;
        }
}

nav.navbar{
    height: 100%;
}

.navc-content{
    display: flex;
    flex:0 0 auto;
    justify-content: flex-end;
    align-items: center;
}

div.navc-header{
    display: flex;
    flex:1 1 auto;
    justify-content: flex-start;
    align-items: center;
}

img{
    margin: 3px 0px;
    max-height: 36px;
}

div.navc-logo{
    display: flex;
    float: left;
    max-height: 36px;
}

div.navc-search{
    display: flex;
    width: 100%;
    height: 36px;
    margin: 0 9px 0 9px;
}

div.navc-search-border{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    border: 1.5px solid rgba(143, 143, 143,0.4);
    padding: 5px;
    border-radius: 3px;
    max-width: 440px;
}

div.navc-search-bar{
    max-width: 450px;
}

svg.navc-search-icon{
    fill:rgba(120, 120, 120,1);
}

input.navc-search-field{
    width: 100%;
    border: none;
    font-size: 15px;
}

button.navc-btn{
    height: 44px;
}

button.navc-btn-login{
    border:none;
    color: #1355AB;
    margin-right: 15px;
    font-size: 15px;
}

button.navc-btn-create-account{
    border:none;
    background-color: #1355AB;
    color: white;
    font-size: 14px;
}