<form method="POST" action="/changePassword/users/resetPasswords">
    <input class="form-control" placeholder="password" name="password">
    <input name="token" value={{token}} hidden>
    <button type="submit">Submit</button>
</form>