<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage-Guest</title>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/nav_guest_style.css">
    <link rel="stylesheet" type="text/css" href="/css/homepage_guest.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/7f85a03441.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="navigation-bar"></div>


    <div class="content-container">
        <div class="content-div">
            <div class="guest-list">
                <div class="guest-homepage-quote">
                    <p>Explore.</p>
                    <p> Find your thing.</p>
                </div>

                <div class="selection">
                    <ul class="select-list">
                        <li class="active">Events</li>
                    </ul>
                </div>

            </div>

        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div id="inam" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4 displayImage">
                                        <div class="card" style="width: 300px;height:350px;margin: auto;">
                                            <img src="https://storage.googleapis.com/ehimages/2019/8/26/img_ffb4fd367ee6004155120d25135e76c9_1566821809024_processed_original.jpg"
                                                class="card-img-top">
                                            <div class="card-body">
                                                <h4 class="card-title">Aaja Nachle</h4>
                                                <i class="fas fa-map-marker-alt"></i>
                                                <p class="card-text">Indigo XP Hsr , South Bangalore</p>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-4 displayImage">
                                        <div class="card" style="width: 300px;height:350px;margin: auto;">
                                            <img src="https://storage.googleapis.com/ehimages/2019/9/9/img_1b50aee9556ac233751bf071f53e5366_1568066421541_processed_original.jpg"
                                                class="card-img-top">
                                            <div class="card-body">
                                                <h4 class="card-title">Dandeli Water Adventures</h4>
                                                <i class="fas fa-map-marker-alt"></i>
                                                <p class="card-text"> Dandeli Campsite, Dandeli, Karnataka</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 displayImage">
                                        <div class="card" style="width: 300px;height:350px;margin: auto;">
                                            <img src="https://storage.googleapis.com/ehimages/2018/7/3/img_8811f45c7d61943e162442df2ec23ca0_1530605521275_processed_original.jpg"
                                                class="card-img-top">
                                            <div class="card-body">
                                                <h4 class="card-title">Hampi Hippie Island Camping Trip, Monuments,
                                                    Lake, Hills</h4>
                                                <i class="fas fa-map-marker-alt"></i>
                                                <p class="card-text"> Hampi (Hampi)</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4 displayImage">
                                        <div class="card" style="width: 300px;height:350px;margin: auto;">
                                            <img src="https://storage.googleapis.com/ehimages/2020/1/20/img_56761802c2e18a27132ab1b4277e10d6_1579509028376_processed_original.jpg"
                                                class="card-img-top">
                                            <div class="card-body">
                                                <h4 class="card-title">Bollywood Republic</h4>
                                                <i class="fas fa-map-marker-alt"></i>
                                                <p class="card-text"> I Bar</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 displayImage">
                                        <div class="card" style="width: 300px;height:350px;margin: auto;">
                                            <img src="https://wallpapercave.com/wp/wp2174301.jpg" class="card-img-top">
                                            <div class="card-body">
                                                <h4 class="card-title">Motocamping</h4>
                                                <i class="fas fa-map-marker-alt"></i>
                                                <p class="card-text">Madras Motor Race Track</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 displayImage">
                                        <div class="card" style="width: 300px;height:350px;margin: auto;">
                                            <img src="https://storage.googleapis.com/ehimages/2019/10/22/img_6ae62d5164fab41c4b0fb5c98bd851a7_1571776322224_processed_original.jpg"
                                                class="card-img-top">
                                            <div class="card-body">
                                                <h4 class="card-title">Kedarkantha Winter Trek</h4>
                                                <i class="fas fa-map-marker-alt"></i>
                                                <p class="card-text">Uttarakhand, India</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#inam" class="carousel-control-prev" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a href="#inam" class="carousel-control-next" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="content-container">
        <div class="content-div">
            <div class="guest-list">
                <div class="guest-homepage-quote">

                </div>

                <div class="selection">
                    <ul class="select-list">
                        <li class="active">Tasks</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div id="inamx" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4 displayImage">
                                        <div class="card" style="width: 300px;height:350px;margin: auto;">
                                            <img src="http://aarthibeautyparlour.com/images/new/bg1.jpg"
                                                class="card-img-top">
                                            <div class="card-body">
                                                <h4 class="card-title">Makeup and Hairstyling</h4>
                                                <i class="fas fa-map-marker-alt"></i>
                                                <p class="card-text">Beauty Parlour New Delhi, Delhi</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 displayImage">
                                        <div class="card" style="width: 300px;height:350px;margin: auto;">
                                            <img src="https://us.123rf.com/450wm/leolintang/leolintang1709/leolintang170900046/85191925-young-asian-male-technician-repairing-air-conditioner-with-screwdriver-at-home.jpg?ver=6"
                                                class="card-img-top">
                                            <div class="card-body">
                                                <h4 class="card-title">Ac Service and Repair</h4>
                                                <i class="fas fa-map-marker-alt"></i>
                                                <p class="card-text"> Hoodi, Bengaluru</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 displayImage">
                                        <div class="card" style="width: 300px;height:350px;margin: auto;">
                                            <img src="https://hdfreefoto.files.wordpress.com/2014/09/woman-paint-wall-at-home.jpg"
                                                class="card-img-top">
                                            <div class="card-body">
                                                <h4 class="card-title">House Painters</h4>
                                                <i class="fas fa-map-marker-alt"></i>
                                                <p class="card-text"> No.3, 2nd Floor, Scorpio House, Marathahalli
                                                    Bridge,Bangaluru</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4 displayImage">
                                        <div class="card" style="width: 300px;height:350px;margin: auto;">
                                            <img src="https://english.cdn.zeenews.com/sites/default/files/2015/05/01/352616-yoga-and-young-girl-1.jpg"
                                                class="card-img-top">
                                            <div class="card-body">
                                                <h4 class="card-title">Fitness & Yoga</h4>
                                                <i class="fas fa-map-marker-alt"></i>
                                                <p class="card-text"> Yoga studio 302, AECS Layout Main Rd, Bangaluru
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 displayImage">
                                        <div class="card" style="width: 300px;height:350px;margin: auto;">
                                            <img src="https://content.jdmagicbox.com/comp/visakhapatnam/y6/0891px891.x891.181126162027.p6y6/catalogue/sunny-all-plumbing-works-allipuram-visakhapatnam-plumbers-aslecnf4vf.jpg"
                                                class="card-img-top">
                                            <div class="card-body">
                                                <h4 class="card-title">Plumber</h4>
                                                <i class="fas fa-map-marker-alt"></i>
                                                <p class="card-text">Replad Renovator LLP</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 displayImage">
                                        <div class="card" style="width: 300px;height:350px;margin: auto;">
                                            <img src="https://cleanmyspace.com/wp-content/uploads/2017/08/professional-cleaning-tips.jpg"
                                                class="card-img-top">
                                            <div class="card-body">
                                                <h4 class="card-title">Full Home Cleaning</h4>
                                                <i class="fas fa-map-marker-alt"></i>
                                                <p class="card-text">Maruthi Enterprises</p>
                                                <p class="card-text" #17/3, Munekolala, Marathahalli,Bangalore></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#inamx" class="carousel-control-prev" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a href="#inamx" class="carousel-control-next" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function () {
        $("#navigation-bar").load("/navigation_bar/nav_guest/nav_guest.hbs");

        $(".guest-search-field").focus(() => {
            $(".guest-search-border").addClass("search-parent-focus");
        }).blur(() => {
            $(".guest-search-border").removeClass("search-parent-focus");
        })
        $("#myCarousel").carousel({
            interval: 8000,
            pause: false
        });
    });

</script>

</html>